<div class="tab-pane fade" id="show-activity" role="tabpanel" aria-labelledby="show-activity-tab">
    <div class="card shadow mb-4 mt-2">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Activity Table</h6>
        </div>
        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="/admin/item/add/activity" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="itemId" value="<%= itemId %>">
                        <div class="form-group">
                            <label for="nameBank">Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" id="type" name="type"
                                placeholder="Enter type" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" class="form-control" id="image" name="image" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
            
                </form>
            </div>
            <div class="col-md-7">
                <!-- DataTales -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="activity-table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(activity){Object.keys(activity).forEach(key => { %>
                                    <tr>
                                        <td><%= parseInt(key) + 1 %></td>
                                        <td><%= activity[key].name %></td>
                                        <td><%= activity[key].type %></td>
                                        <td>
                                            <img src="http://localhost:3000/<%= activity[key].imageUrl %>" alt="image<% parseInt(key) + 1 %>" style="height: 50px; width: auto;">
                                        </td>
                                        <td>
                                            <form action="/admin/item/activity/<%= itemId %>/<%= activity[key]._id %>?_method=DELETE" method="POST">
                                                <a type="button" class="btn btn-warning btn-circle btn-sm btn-upload" data-id="<%= activity[key]._id %>" data-item-id="<%= itemId %>" data-name="<%= activity[key].name %>" data-type="<%= activity[key].type %>"><i class="fas fa-edit"></i></a>
                                                <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                <% })}; %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End DataTables -->
        </div>
    </div>
</div>